/*Absar's part*/

html
{
    background-color: black;
    height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
    font-family: sans-serif;
    animation: transitionIn 1.75s;
    overflow-x: hidden;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-5deg);
    }
    
    to {
        opacity: 1;
        transform: rotateX(0);
    }
    
}

a {
    text-decoration: none;
}
/*End of absar's part*/


.comlogo {
    float: left;
     background: rgb(18, 21, 24, 0.6);
    padding-left: 30px;
    padding-top: 3px;
    height: 100px;
}

.comlogoright {
    float: right;
    background: rgb(18, 21, 24, 0.6);
    padding-left: 30px;
    padding-top: 3px;
    height: 100px;
}

/*Branden's part*/
#main-nav img {
    background: rgb(18, 21, 24, 0.6);
    padding-left: 30px;
    padding-top: 3px;
    height: 100px;
}


#main-nav a {
  color: #f6f7f8;
  background: rgb(18, 21, 24, 0.6);
  height: 100px;
  font-family: lato;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background 0.4s;
}
#main-nav a:hover {
  background: #183049;
}

#main-nav {
width: 101%;
}

#main-nav ul {
  list-style: none;
  display: flex;
}

#main-nav li {
  width: 100%;
  text-align: center;
  position: relative;
    z-index: 99999;
}

#main-nav li:hover .submenu > li {
  display: block;
  flex-direction: column;
  top: 0px;
}

.submenu li {
  display: none;
  position: absolute;
  top: 0px;
}

.submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.submenu li {
  position: relative;
}


.arrow {
  margin-left: 8px;
  color: #eee;
  font-size: 12px;
}

/*end of Branden's part*/





/*Benjamin's part*/
#slider {
   margin: 0 auto;
   width: 1750px;
   max-width: 100%;
   text-align: center;
   margin-top: 100px;
}

#slider input[type=radio] {
   display: none;
}
#slider label {
   cursor:pointer;
   text-decoration: none;
}
#slides {
   padding: 10px;
   border: 3px solid #282424;
   background: #270000;
   position: relative;
   z-index: 1;
}
#overflow {
   width: 100%;
   overflow: hidden;
}
#slide1:checked ~ #slides .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides .inner {
   margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
   margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
   margin-left: -300%;
}
#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 700px;
}
#slides .slide {
   width: 25%;
   float:left;
   display: flex;
   height: 100%;
   color: #fff;
   align-items: center;
   justify-content: center;
}

#slides .slide-1 {
   background-image: url(../styles/images/Chevrolet-Cruze-.jpg);
   background-size: cover;
}
#slides .slide-2 {
   background-image: url(../styles/images/spark.jpg);
   background-size: cover;
}
#slides .slide-3 {
   background-image: url(../styles/images/equinox.jpg);
   background-size: cover;
}
#slides .slide-4 {
   background-image: url(../styles/images/coloradotwin.jpg);
   background-size: cover;
}
#controls {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}
#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}
#controls label:hover {
   opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float:right;
   margin: -215px 0 0 0;
   display: block;
}
#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(4),
#slide3:checked ~ #controls label:nth-last-child(3),
#slide4:checked ~ #controls label:nth-last-child(2) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float:left;
   margin: -215px 0 0 0;
   display: block;
}
#bullets {
   margin: 150px 0 0;
   text-align: center;
}
#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
   background: #444;
}
@media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(4),
   #slide4:checked ~ #controls label:nth-last-child(1) {
      margin: 0;
   }
   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}

.section1{
    padding: 0 100px;
    background: url(../styles/images/wallpeperbg.jpg);
    display: flex;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    flex-direction: row-reverse;
}

.box
{
    position: relative;
    max-width: 600px;
    padding: 50px;
    background: rgba(0,0,0,0.6);
    box-shadow: 0 5px 15px rgba(255,255,255,0.6);
}

.box h2
{
    margin: 0 0 20px;
    padding: 0;
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
}

.box p
{
    margin: 0 0 20px;
    padding: 0;
    font-size: 15px;
    color: #fff;
    text-align: justify;
    line-height: 25px;
}


/*Grid index*/
.grid1 {
  margin: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  align-items: stretch;
  background: rgb(18, 21, 24, 0.6);
    margin-top: 20px;
  margin-bottom: 130px;
  }

.grid1 > article {
  border: 2px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  border-radius: 3px;
  text-align: center;
}

.grid1 > article:hover{
  transition: transform .1s ease-out;
  transform: translateY(5px);
}

.grid1 > article img {
  width: 100%;
}


.grid1 .text {
  padding: 0 20px;
  line-height: 30px;
}

.grid1 .text h3 {
text-transform: uppercase;
color: #fff;
}

a.button {
  background: rgba(145, 145, 145, 0.3);
  border-radius: 3px;
  border: 0;
  color:#fff;
  padding: 10px;
  width: 100%;
  font-weight: 600;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  text-transform: uppercase;
  text-decoration: none;
}





@media (max-width: 768px){
  .grid1{
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }
}

@media (max-width: 500px){
  .grid1{
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
  }

  .grid1 > article{
    text-align: center;
  }
}


    
.advertisement{
    width: 60%;
    align-items: center;
    display: block;
    margin-bottom: 150px;
    margin-left: 400px;

}

/*button on slideshow*/
.btn{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: rgba(145, 145, 145, 0.3);
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition-duration: 0.3s;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transform: scale(1.1);
}
/*end of Benjamin's part*/




/*Branden's part*/
.footer {
   width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background: rgb(18, 21, 24, 0.6);
    
}

.inner-footer {
    display: block;
    margin: 0 auto;
    width: 1400px;
    height: 10%;
}

.inner-footer .logo_container{
    width: 36%;
    float: left;
    display: block;
}

.inner-footer .logo_container p{
    color: #fff;
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 15px;
}

.inner-footer .logo_container img{
    width: 150px;
    height: auto;
}

.inner-footer .footer_third{
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%
}

.inner-footer .footer_third:last-child{
    margin-right: 0;
}

.inner-footer .footer_third h1{
    font-family: sans-serif;
    font-size: 20px;
    color: #959B8D;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner-footer .footer_third a{
    font-family: sans-serif;
    font-size: 15px;
    color: #fff;
    display: block;
    font-weight: 200;
    width: 100%;
    margin-bottom: 20px;
}

.inner-footer .footer_third table{
    font-family: sans-serif;
    font-size: 13px;
    color: #fff;
    width: 300px;
    text-align: justify;
    height: 150px;
}

.inner-footer .footer_third li{
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}

.inner-footer .footer_third span{
    color: #fff;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 20px;
}
/*end of Branden's part*/    

   


/*Benjamin's part*/
/*product type selection page*/

.textinproduct{
    display:flex;
   font-size: 2em;
    font-family: garamond;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

.textinproduct h2{
    margin-top: 50px;
      color:#CFCFCF;
}



/*Producttypepage*/
.mainselection{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(images/bgroundproduct.jpg);
    background-size: cover;
}

.mainselection .card{
	width: 350px;
	height: 450px;
	background: #000;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	text-align: center;
   margin-left: 40px;
}

.mainselection .card:before{
	content: '';
	width: 100%;
	height: 100%;
	top: -50%;
	left: 0;
	background: #FFF;
	z-index: -1;
	position: absolute;
	transform: skewY(-15deg);
	transition: .3s all ease;
}

.mainselection .card:hover:before{
	top: -60%;
	transform: skewY(15deg);
}

.mainselection .card img{
	width: 80%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,0);
	padding-top: 10px;
	transition: .3s all ease;
}

.mainselection .card:hover img{
	width: 60%;
	transform: translate(-50%,0) rotate(15deg);
}

.mainselection .card .product-brand-type{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: .3s all ease;
}

.mainselection .card:hover .product-brand-type{
	bottom: 15%;
}

.mainselection .card .product-brand-type .product-brand{
	color: #fff;
	font-weight: 600;
	font-size: 28px;
}

.mainselection .card .product-brand-type .product-type{
	color: #fff;
	font-size: 17px;
	font-weight: 600;
}

.mainselection .card .view-now{
	display: inline-block;
	padding: 10px 25px;
	border-radius: 50px;
	background: #ff4646;
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: 500;
	position: absolute;
	bottom: -50%;
	left: 50%;
	transform: translate(-50%,-50%);
	outline: none;
	transition: .3s all ease;
}

.mainselection .card .view-now:hover{
	background: #fff;
	color: #ff4646;
}

.mainselection .card:hover .view-now{
	bottom: 5%;
}


/*Disclaimer page*/
.section2{
    padding: 0 630px;
    background: url(../styles/images/disclaimerbg.jpg);
    display: flex;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.boxor
{
    position: relative;
    max-width: 600px;
    padding: 50px;
    background: rgba(0,0,0, 0.8);
    box-shadow: 0 5px 15px rgba(255,255,255,0.6);
}

.boxor h2
{
    margin: 0 0 20px;
    padding: 0;
    font-size: 48px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.boxor p
{
    margin: 0 0 20px;
    padding: 0;
    font-size: 15px;
    color: #fff;
    text-align: justify;
    line-height: 35px;
}





/*subcategory products*/
.subcategory {
  margin: 20px;
  align-content: center;
  margin-left: 570px;
}
 
.subcategory ul {
  list-style-type: none;
  width: 750px;
}
 
.subcategory h3 {
  font: bold 30px/1.5 Helvetica, Verdana, sans-serif;
  color: #ffffff;
}
 
.subcategory img {
  float: left;
  margin: 0 15px 0 0;
  width : 100%;  
}
 
.subcategory p {
  font: 200 15px/1.5 sans-serif;
  color: #ffffff;
  text-align: justify;
}
 
.subcategory li {
  padding: 10px;
  overflow: auto;
}
 
.subcategory li:hover {
  background: rgb(128,128,128,0.12);
  cursor: pointer;
}

/*product page*/
.grid-container {
    max-width: 1500px;
}

div.parent {
    width: 100%;
    height: 100vh;
    background-image: url(../styles/images/background4product.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}

div.parent header {
    padding: 40px 0px;
    position: relative;
    z-index: 3;
}

div.parent header a.logo {
    font-family: merriweather;
    font-size: 25px;
    font-weight: 600;
    text-transform: lowercase;
    color: #fff;
    text-decoration: none;
}

div.parent header a.logo {
    font-family: merriweather;
    font-size: 25px;
    font-weight: 600;
    text-transform: lowercase;
    color: #fff;
    text-decoration: none;
}

div.parent header ul.nav li {
    float: left;
    list-style: none;
}

div.parent header ul.nav {
    float: right;
}

div.parent header ul.nav li {
    float: left;
    list-style: none;
}

div.parent header ul.navigation {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    float: right;
}

div.parent header ul.navigation li {
    margin-right: 60px;
}

div.parent header ul.navigation li a {
    color: rgba(255, 255, 255, 0.60);
    text-transform: capitalize;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

div.parent header ul.navigation li a:hover {
    color: #fff;
}

div.parent header ul.navigation li a:hover:after {
    content: "";
    height: 6px;
    width: 6px;
    position: absolute;
    margin-left: 7px;
    border-radius: 50%;
    background: #d71758;
}

div.parent header ul.social-icons li {
    margin-left: 25px;
}

div.parent header ul.social-icons li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4b4c67;
    border: 1px solid #4b4c68;
    transition: all 250ms ease-in-out;
}

div.parent header ul.social-icons li a:hover {
    color: #d71758;
    background-color: #fff;
    border: 1px solid #4b4c68;
}

div.parent header ul.social-icons li:nth-child(1) a:hover {
    color: #ec1c24;
}

div.parent header ul.social-icons li:nth-child(2) a:hover {
    color: #00a8f3;
}







div.parent section {
    position: relative;
}

div.parent section span.year {
    font-size: 55em;
    font-weight: 600;
    font-family: serif;
    position: absolute;
    bottom: -190px;
    left: 125px;
    color: #22234a;
}

div.parent section .car-details {
    position: relative;
    top: 90px;
}

div.parent section .car-details h2 {
    font-size: 60px;
    font-family: serif;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 40px;
    line-height: 100px;
    color: #d71758;
}

div.parent section .car-details h2 span {
    font-size: 80px;
    color: #fff;
}

div.parent section .car-details p.about {
    font-size: 14px;
    color: #fff;
    width: 60%;
    font-family: sans-serif;
    line-height: 35px;
    margin-bottom: 50px;
}

div.parent section .car-details h4.production-year {
    font-size: 16px;
    font-family: mada;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.50);
    margin-bottom: 50px;
}

div.parent section .car-details h4.production-year span {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 10px;
}


div.parent section .car-details a.btn-discover {
    background-color: #d71758;
    border: 2px solid #fea500;
    padding: 10px 10px 10px 30px;
    border-radius: 30px;
    font-family: mada;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    letter-spacing: 5px;
    display: inline-flex;
    align-items: center;
}

div.parent section .car-details a.btn-discover span {
    padding-right: 5px;
    position: relative;
}

div.parent section .car-details a.btn-discover i {
    position: relative;
}

div.parent section .car-details a.btn-discover:after {
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.20);
    border: 2px solid #fff;
}

div.parent section .car-details a.btn-discover:hover span {
    animation: anim-btn-discover-text 250ms linear forwards;
}

div.parent section .car-details a.btn-discover:hover i {
    animation: anim-btn-discover-icon 250ms linear forwards;
}

div.parent section .car-details a.btn-discover:hover:after {
    animation: anim-btn-discover-after 250ms linear forwards;
}



@keyframes anim-btn-discover-text {
    from {
        left: 0px;
    }

    to {
        left: 10px;
    }
}

@keyframes anim-btn-discover-icon {
    from {
        left: 0px;
    }

    to {
        left: 24px;
        transform: scale(2, 2);
        color: #d71758;
    }
}

@keyframes anim-btn-discover-after {
    from {
        background-color: rgba(255, 255, 255, 0.20);
    }

    to {
        background-color: #fff;
    }
}

div.parent section .car-pic {
    position: relative;
    z-index: 3;
    top: 40px;
    right: 70px;
    width: 1100px;
}

div.parent section .car-pic img {
    width: 1000px;
}

div.parent section .navigate {
    position: relative;
    z-index: 3;
    display: inline-flex;
    float: right;
}

div.parent section .navigate button {
    color: #fff;
    font-size: 15px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #4b4c67;
    border: 1px solid #4b4c68;
    margin-left: 20px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

div.parent section .navigate button:hover {
    color: #d71758;
    background-color: #fff;
    border: 1px solid #4b4c68;
}

div.parent section .navigate .swiper-button-next,
.swiper-button-prev {
    background-image: none;
    position: static;
    top: 0;
    margin-top: 0;
    height: inherit;
}

div.parent .stripe {
    height: 110px;
    position: absolute;
    background-color: #fea500;
    bottom: 200px;
    left: 0;
}

div.parent .one {
    width: 120%;
    transform: rotate(145deg);
}

div.parent .two {
    width: 145%;
    transform: rotate(145deg);
}


@media (max-width: 400px) {
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.grid-container:before .grid-45:before .grid-55:before .grid-offset:before .clearfix:before
.grid-container:after
.grid-45:after
.grid-55:after
.clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.grid-container:after .grid-45:after .grid-55:after .grid-offset:after .clearfix:after {
  clear: both;
}

.grid-container .grid-45 .grid-55 .clearfix {
   transform: scale(1);

}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
}

.grid-45 .grid-55{
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  padding-left: 0;
  padding-right: 0;

}
.grid-45 > * .grid-55 > * {

  margin-left: 10px;
  margin-right: 10px;

}

.grid-parent {
  padding-left: 0;
  padding-right: 0;
}

.grid-offset {
  clear: both;
  margin-left: -10px;
  margin-right: -10px;
}

@media (min-width: 1025px) {
.push-45 .pull-45 .push-55 .pull-55 {
    position: relative;
  }
}

  .hide-on-desktop {
    display: none !important;
  }

  .grid-45 {
    float: left;
    width: 45%;

  }

  .prefix-45 {
    margin-left: 45%;
  }

  .suffix-45 {
    margin-right: 45%;
  }

  .push-45 {
    left: 45%;

   
  }

  .pull-45 {
    left: -45%;
 
  }


  .grid-55 {
    float: left;
    width: 55%;
   
  }

  .prefix-55 {
    margin-left: 55%;
  }

  .suffix-55 {
    margin-right: 55%;
  }

  .push-55 {
    left: 55%;
   
  }

  .pull-55 {
    left: -55%;
   
  }

 
.content-table {
  border: 2px solid;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(196, 41, 119, 0.6)
}

.content-table thead tr {
  background-color: #d71758;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  text-align: center;
  font-weight: bold;
}

    
.content-table tbody tr:nth-of-type(odd)
        {
        background-color: #D2D2D2;
    }

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.productlink{
  list-style: none;
  position: relative;
}
/*End of Benjamin's part*/




/*Crystal's part*/
    
/*enquiry form*/    
::placeholder { 
  color: #FFFF;
  opacity: 1; 
}
    
.contact-section{
  background: url(../styles/images/enquirybg.jpg)no-repeat center;
  background-size: cover;
  padding: 40px 0;
}
.contact-section h1{
  text-align: center;
  color: #ddd;
}
.border{
  width: 100px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
}

.contact-form{
  max-width: 1000px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}

.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text{
  resize: none;
  height: 120px;
}
.contact-form-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover{
  background: #2980b9;
}

.contact-form-postcode{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}


fieldset
{
  background-color:#34495e;
  max-width:1000px;
  padding:16px;	
}

fieldset p{
      margin: 0 0 0.25em;  
      font-family: sans-serif;
      color: #ddd;
    line-height: 45px;
    font-size: 1.1em;
}

label
{
    font-family: sans-serif;
    color:#ddd;
}

legend
{
  color: white;
  margin-left:16px;
}


/* Reset Select */
select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;

}

/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 15em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;

}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #30373c;
  cursor: pointer;
  pointer-events: none;
  transition: .25s all ease;
  transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

/*Thank u for enquiry pagee*/
.mainenquiry{
	position: relative;
	height:100vh;
	width:100%;
	top:0;
	left:0;
	right:0;
}
.mainenquiry .overlay{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.5);
	z-index: 0;
}

.mainenquiry .heading{
	position: absolute;
	height:auto;
	width:100%;
	top:50%;
	transform: translateY(-50%);
	text-align: center;
	text-shadow:0px 0.5px 5px rgba(0, 0, 0, 0.2);
}
.mainenquiry .heading .head{
	position: relative;
	font-family: 'RacingSansOne',sans-serif;
	font-size:48px;
	font-weight: 600; 
	color:#fff;
}

.mainenquiry .heading h3{
  color: #FFF;
}


.mainenquiry .heading .head span{
	color:#017fb5;
}



.mainenquiry .heading .btns{
    padding-top: 20px;
	height:auto;
	width:100%;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	position: relative;
}
.mainenquiry .heading .btns a{
	color:#fff;
	text-align: center;
	text-decoration: none;
	font-family:'cinzel',sans-serif;
	font-size:15px;
	font-weight:300;
	display:block;
	border:1px solid rgba(255, 255, 255, 0.5);
	height:auto;
	width:150px;
	padding:10px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-left:1%;
	border-radius: 2px;
	transition: 0.5s ease-in-out;
}
.mainenquiry .heading .btns a:hover{
	background:#017fb4;
	border:1px solid #017fb5;
}
.mainenquiry .heading .btns .btn1{
	background:#017fb4;
	border:1px solid #017fb5;
}
.mainenquiry .heading .btns .btn1:hover{
	background:#017fb4;
	border:1px solid #017fb5 ;
	color:rgba(255, 255, 255, 0.95);
}
/*Crystal's part end*/



/*Branden's part*/
/*about page*/

#about-us{ 
    margin-top: 50px;
    display:block;
    width:100%;
    line-height:1.6em;
    background-image: url(../styles/images/onlyblack.jpg);
    background-size: cover;
}

#about-us h2{
    margin-bottom:50px; padding-bottom:40px;
    font-size:80px; 
    text-align:center; 
    text-transform:uppercase; 
    border-bottom:1px solid #CCCCCC;
    color: #FFF;}

#about-us #about-intro{
    margin-bottom:50px; }

#about-us #about-intro p{
    line-height: 35px;
    padding: 100px 490px;
    text-align: justify; 
    color: #FFF;
    font-size: 20px;
}

#about-us #about-intro p:first-child{
    margin-top:0;}

#about-us #about-intro img{
    margin-left: 500px;}
/*Branden's part end*/



/*Crystal's part*/
/*my team*/
.containerteam{
	max-width:1140px;
	margin: 0 auto;
	position: relative;
	min-height: 1px;
}

.team{
    
	min-height: 150vh;
	    background-image: url(../styles/images/aboutbg.jpg);
    background-size: cover;
	float: left;
	width: 100%;
}
.team h2{
	font-size: 45px;
	font-family: sans-serif;
	font-weight: 700;
	color:#ffffff;
    margin-top: 150px;
	padding-bottom:10px;
	text-align: center;
   
}
.team .card{
	width:25%;
	float: left;
	padding: 255px 10px;
    margin: 0;
    
}
.team .card .box {
	padding:15px;
	background-color: rgb(45, 48, 53, 0.2);
    border-radius:5px;
	transition: margin 1s ease,box-shadow 1s ease;
}
.team .card .box:hover{
	margin-top:-15px;
	box-shadow:0px 0px 40px black;
}
.team .card .box img{
	width:150px;
	display: block;
	margin:10px auto;
	border-radius:50%;

}

.team .card .box h4{
	font-size: 20px;
	font-family: sans-serif;
	margin:20px 0px 10px;
	color:#ea5e71;
	text-align: center;
	font-weight: 700;
}

.team .card .box h5{
	font-size:16px;
	font-family: sans-serif;
	font-weight: 600;
	color:#b9b9b9;
	margin:0px 0px 15px;
	text-align: center;
}
.team .card .box p{
	color:#b9b9b9;
	font-size: 15px;
	font-family: sans-serif;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	padding:0px 20px;
}



/*i em trying to make it movee responsive*/

@media(max-width: 991px){
	.team .card{
		width:50%;
		margin-bottom:30px;
	}
}

@media(max-width:550px){
	.team .card{
		width:100%;
	}
}
/*end of Crystal's part*/



/*Absar's part*/
/*aboutmepage*/
.containergoreng {
  width: 400px;
  margin: 120px auto 120px;
  background-color: rgb(18, 21, 24, 0.6);
  padding: 0 20px 20px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  text-align: center;
}
.containergoreng:hover .avatar-flip {
  transform: rotateY(180deg);
}
.containergoreng:hover .avatar-flip img:first-child {
  opacity: 0;
}
.containergoreng:hover .avatar-flip img:last-child {
  opacity: 1;
}
.avatar-flip {
  border-radius: 80px;
  border-style: groove;
  padding: 20px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  float: none;
  position: relative;
  margin: auto;
  top: -60px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 13px #f0f0f0;
}
.avatar-flip img {
  position: absolute;
  float: none;
  left: 0;
  top: 0;
  border-radius: 80px;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}
.avatar-flip img:first-child {
  z-index: 1;
}
.avatar-flip img:last-child {
  z-index: 0;
  transform: rotateY(180deg);
  opacity: 0;
}

.Contributiontable {
  border-collapse: collapse;
  width: 100%;
}

.Contributionth {
  font-weight: bold;
  color: #ffffff;
}

.Contributiontd, .Contributionth {
  text-align: center;
  border: 1px solid #dddddd;
  padding: 8px;
    color: #ffffff;
}


.Contributiontr:nth-child(even) {
  background-color: #000000;
}
.aboutmeh2 {
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  color: #ffffff;

}
.aboutmeh4 {
  font-size: 18px;
  color: rgb(0,186,255);
  letter-spacing: 1px;
  margin-bottom: 25px
}

#studentid {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-align: right;
  margin-top: 30px;
  color: #666455;
}

#email_foot {
  text-align: center;
  color: white;
  padding-bottom: 70px;
}

.footeraboutme {
   width: 100vw;
    display: block;
    overflow: hidden;
    padding: 5px 0;
    padding-bottom: 50px;
    box-sizing: border-box;
    background: rgb(18, 21, 24, 0.6);
    
}


   
/*end of Absar's part*/


.ghostbody{
  margin: 0;
  padding-bottom: 50px;
    height: 50vh;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ghost{
  width: 140px;
  height: 160px;
  background-color: #f2f2f2;
  border-radius: 70px 70px 0 0;
  position: relative;
  cursor: pointer;
  animation: floating 2s infinite ease-in-out;
}

@keyframes floating{
  50%{
    transform: translateY(-30px);
  }
}

.face{
  width: 100px;
  position: absolute;
  top: 60px;
  left: calc(50% - 50px);
}

.eyes{
  height: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 14px;
}

.eyes span{
  width: 24px;
  height: 24px;
  background-color: #2c3a47;
  border-radius: 50%;
  transition: .3s linear;
}

.ghost:hover .eyes span{
  height: 16px;
}

.mouth{
  width: 40px;
  height: 20px;
  background-color: #2c3a47;
  margin: auto;
  border-radius: 0 0 20px 20px;
  transition: .3s linear;
}

.ghost:hover .mouth{
  height: 12px;
}

.hands{
  width: 180px;
  position: absolute;
  left: -20px;
  top: 80px;
  display: flex;
  justify-content: space-between;
}

.hands span{
  width: 20px;
  height: 30px;
  background-color: #f2f2f2;
}

.hands span:first-child{
  border-radius: 20px 0 0 20px;
}

.hands span:last-child{
  border-radius: 0 20px 20px 0;
}

.feet{
  position: absolute;
  width: 100%;
  bottom: -20px;
  display: flex;
}

.feet span{
  flex: 1;
  height: 20px;
  background-color: #f2f2f2;
  border-radius: 0 0 20px 20px;
}

.feet span:first-child{
  border-radius: 0 0 20px 12px;
}

.feet span:last-child{
  border-radius: 0 0 12px 20px;
}

.titleben{
    color: #ffffff;
    text-align: center;
}







/*benresume*/

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* Utils */

.clear {
	clear: both;
}
.purple {
	color: #837c9a;
}

.block {
	margin: 25px 30px;
  text-align: justify;
}
	.block h1 {
		margin-left: -5px;
		font-weight: 200;
	}

.last.block {
	margin-bottom: 110px;
}

.horizontal_list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
	.horizontal_list li {
		float: left;
	}
	.horizontal_list li:before {
		content: none;
	}
	.horizontal_list li { 
		padding-left: 0; 
		text-indent: 0;
	}

.horizontal_line{
	margin: 34px 0 0 30px;
	height: 26px;
	position: relative;	
}
	.line_left,
	.line_right{
		border-top: 1px solid #434247;
		width: 305px;
		margin-top: 13px;
	}
	.line_left{
		float: left;
	}
	.line_right {
		float: right;
	}
	.left_circle, 
	.central_circle, 
	.right_circle {
		background: rgb(69,68,73);
		background: rgba(255,255,255, 0.15);
		position: absolute;
		border-radius: 50px;
	}
	.left_circle, 
	.right_circle {
		width: 13px;
		height: 13px;
		top: 7px;
	}
	.left_circle{
		left: 314px;
	}
	.central_circle{
		width: 26px;
		height: 26px;		
		top: 0px;
		left: 322px;
	}
	.right_circle{
		left: 343px;
	}
	
/* Main tags */

.resumebody {
	background: url(../styles/images/dark_wall.png) repeat;
	margin: 0;
}

#main_container h1,h2,h3, h4 {
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 300;
	color: #48DA9B;
}
.logotype_name	h1 {
		font-size: 48px;
		font-weight: 300;
		margin: 20px 0;
	}
.logotype_occupation	h2 {
		font-size: 28px;
		margin: 32px 0 24px;
	}


blockquote {
	font-style: italic;
	margin: 25px 0;
	padding-left: 20px;
	border-left: 2px solid #48DA9B;
}
	
blockquote, p , a, li {
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #e4e3e8;
}


.last block ul {
    list-style: none;
    padding:0;
    margin:0;
}
.last block	li { 
		padding-left: 1em; 
		text-indent: -.7em;
	}
.last block	li:before {
		content: "• ";
		color: #837c9a;
		font-size: 20px;
		padding-right: 8px;
	}

/* Containers size */

#main_container {
	width: 960px;
	margin: 0 auto;
}
	#header {
		height: 130px;
		border-bottom: 1px solid #403F44;
	}
		.header_logotype_container {
			width: 260px;
			height: 130px;
			border-right: 1px solid #403F44;
			float: left;
		}
		.header_menu_container {
			height: 130px;
			width: 699px;
			float: left;
		}
			.header_menu_container a {
				font-family: 'Lato', Helvetica, sans-serif;
			}
	#left_col {
		width: 260px;
		float: left;
	}
	#content_container {
		width: 699px;
		border-left: 1px solid #403F44;
		float: left;
	}
	#footer {
		width: 960px;
		height: 60px;
		border-top: 1px solid #403F44;
		display: inline-block;
	}

/* HEADER */

.logotype_name{
	text-transform: uppercase;
	font-size: 32px;
	margin: 43px 0 0;
}
.logotype_occupation{
	text-transform: uppercase;
	margin-top: 5px;
	color: #5ce2af;
	font-size: 14px;
	letter-spacing: 2px;
	padding-left: 7px;
}

.homepage_back_buttons {
	width: 225px;
	height: 45px;
	float: right;
}
	.homepage_back_buttons a {
		text-decoration: none;
		font-size: 12px;
		font-family: 'Lato', Helvetica, sans-serif;
		font-style: italic;
		line-height: 45px;
		padding: 16px 17px;
		background: #353638;
	}
		.homepage_back_buttons a:hover {
			background: #020609;
		}
		.homepage_back_buttons .icon {
			color: #02070a;
			padding-right: 6px;
			font-style: normal;
			font-size: 18px;
		}
		.icon-angle-double-right {
			position: relative;
			top: 2px;
		}
			.homepage_back_buttons a:hover .icon {
				color: #e4e3e8;
			}
			
.header_menu {
	width: 699px;
	margin-top: 40px;
	margin-left: 5px;
}
	.header_menu a{
		text-decoration: none;
		padding: 0 20px;
		border-left: 1px solid #e4e3e8;
		font-size: 16px;
		font-weight: 400;
	}
	.header_menu a.no_border{
		border-left: none;
	}
		.header_menu a:hover {
			color: #837c9a;
		}
		
/* LEFT NAV */

#left_nav h2 {
	margin: 0;
	font-size: 24px;
}

.profile_frame{
	width: 230px;
	height: 260px;
	background: black;
	border: 1px solid #403F44;
	margin-top: 30px;
}
	.profile_picture{
		width: 210px;
		height: 240px;
		margin:10px;
		background: url(../images/resumeben.jpg) 100% /210px no-repeat;
	}

.kuchingcity_content,
.contact_details_content {
	margin-top: 25px;
}

.kuchingcity_content{
	width: 230px;
  text-align: justify;
}
.contact_details_content h2 + p.purple{
	margin-top: 10px;
}
.contact_details_content p{
	margin: 0;
}
.contact_details_content p.purple{
	margin-top: 25px;
}

.send_message_button,
.special_button {
	margin-top: 25px;
	display: block;
	background: #48DA9B;
	width: 230px;
	height: 50px;
	position: relative;
	z-index: 1;
}
	.cut1:after {
		content: "";
		position: absolute;
		bottom: -19px;
		left: -20px;
		width: 30px;
		height: 30px;
		z-index: 9;
		background: url(../styles/images/dark_wall.png) repeat;
    transform: rotate(45deg);
	}
	.cut2:before {
	    content: "";
	    position: absolute;
	    top: -19px;
	    right: -20px;
	    width: 30px;
	    height: 30px;
	    z-index: 9;
	    background: url(../styles/images/dark_wall.png) repeat;
      transform: rotate(45deg);
	}
	.content {
	    text-align: center;		
	    color: #04080b;
	    width: 100%;
	    height: 40px;
	    position: absolute;
	    z-index: 2;
	    font: 18px 'Lato', Arial, sans-serif;
	    margin: 0;
	    padding: 16px 0 0;
        top: -4px;
        bottom: 10px;
	    border-top: 1px solid #403F44;
	    border-bottom: 1px solid #403F44;
	}
	.send_message_button:hover,
	.special_button:hover {
		background: #29C782;
	}


.footer_name {
	font-style: italic;
	margin-top: 20px;
}

/* Profile Content */

.profile_quote {
	position: relative;
	/* margin-left: 5px; */
}
	.profile_quote p {
		font-size: 17px;
		width: 455px;
    text-align: justify;
	}
	.profile_quote  .entypo-quote {
		color: #3d3a41;
		font-size: 80px;
    font-style: normal;
		position: absolute;
		top: -20px;
		right: 70px;
		cursor: default;
	}

.philosophy_content {
	margin-top: 20px;
}
	.philosophy_content p {
		margin: 0;
		width: 630px;
		float: left;
    text-align: justify;
	}
	.philosophy_content ul {
		float: left;
		padding-left: 40px;
	}